node_modules
**/node_modules
.next
**/.next
.git
.github
.pnpm-store
**/*.md
!README.md
dist
coverage
.turbo
.env
.env.*
!.env.example
**/.DS_Store
**/tsconfig.tsbuildinfo
playwright-report
test-results
infra/terraform/.terraform
*.tfstate
*.tfstate.*
